%h1.paratitle Notebooks
%hr



%ul.thumbnails
	- @notebooks.each do |notebook|
		%li.span2
			- if notebook.access == "closed"
				%a.thumbnail{:href=> notebook_path(notebook), :style=>"background-color:lightblue"}
					%div{:style=>"text-align:center; color:#BB3825"}= notebook.title
					%i{:class=>"icon-book-1", :style=>"font-size:120px; text-align:center"}
			- elsif notebook.access == "open"
				%a.thumbnail{:href=> notebook_path(notebook), :style=>"background-color:lightblue"}
					%div{:style=>"text-align:center; color:#BB3825"}= notebook.title
					%i{:class=>"icon-book-1", :style=>"font-size:120px; text-align:center"}
			- elsif notebook.access == "invite-only"
				%a.thumbnail{:href=> notebook_path(notebook), :style=>"background-color:lightblue"}
					%div{:style=>"text-align:center; color:#BB3825"}= notebook.title
					%i{:class=>"icon-book-1", :style=>"font-size:120px; text-align:center"}
			- else
				%a.thumbnail{:href=> notebook_path(notebook), :style=>"background-color:lightblue"}
					%div{:style=>"text-align:center; color:#BB3825"}= notebook.title
					%i{:class=>"icon-book-1", :style=>"font-size:120px; text-align:center"}
	
			- if can? :edit, Notebook
				%div{:style=>"text-align:center"}
					= link_to 'Edit', edit_notebook_path(notebook)
					\|
					= link_to 'Destroy', notebook, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br
- if can? :create, Notebook
	= link_to 'New Notebook', new_notebook_path


