%div.dropdown
	%a{:class=>"dropdown-toggle paratitle", :id=>"dLabel", :role=>"button", "data-toggle"=>"dropdown", "data-target"=>"#", :href=>"notebooks_path"} 
		Notebooks
		%b.caret
	%ul{:class=>"dropdown-menu", :role=>"menu", "aria-labelledby"=>"dLabel"}
		- if user_signed_in?
			%li= link_to 'My Notebooks', notebooks_path(notebooks: current_user.id)
			%li= link_to "All", notebooks_path
			%li= link_to "Private Notebooks", notebooks_path(priv: 'yes')
	

%hr
%div{:style=>"position:relative; top:-10px"}
	- if !user_signed_in?
		= link_to "Sign in", new_user_session_path 
		or 
		= link_to "Sign up", new_user_registration_path 
		to add a notebook.
	- if can? :create, Notebook
		= link_to '+ New Notebook', new_notebook_path


%ul.thumbnails
	- @notebooks.each do |notebook|
		- if can? :read, notebook
			%li
				- if notebook.access == "open" || notebook.user_id == current_user.id || notebook.invites.any?{|i| i.email == current_user.email} # if access is open, if I own the notebook, or if I have been invited to the notebook
					%a.thumbnail{:href=> notebook_path(notebook), :style=>"background-color:lightblue; width:250px;"}
						%div{:style=>"text-align:center; color:#BB3825"}
							= notebook.title
						%i{:class=>"icon-book-1", :style=>"font-size:100px; text-align:center; margin-top:5px;"}
						%div{:style=>"margin-top:85px;"}
							= notebook.user.name
							= notebook.access
					- if can? :edit, notebook
						
								
						%div{:style=>"position:relative; top:-20px; left:165px; width:95px; line-height:0px"}
							= link_to 'Edit', edit_notebook_path(notebook)
							\|
							= link_to 'Destroy', notebook, :method => :delete, :data => { :confirm => 'Are you sure?' }
				- else
					%a.thumbnail{:href=> notebook_path(notebook), :style=>"background-color:lightblue; width:250px;"}
						%div{:style=>"text-align:center; color:#BB3825"}= notebook.title
						%i{:class=>"icon-book-1", :style=>"font-size:100px; color:maroon; margin-top:5px; "}
						%p{:style=>"margin-top:85px"}= notebook.user.name

		
			
				
	
				


%br
- if can? :create, Notebook
	= link_to '+ New Notebook', new_notebook_path


