
%div.row
	%div.span2{:style=>"float:left"}
		%p.paratitle
			
			= @notebook.title
	%div.span4.offset4
		- if user_signed_in?
			- if @notebook.user_id == current_user.id
				= render 'invites/form' 



%div
	%p
	
	- @notes.reverse.each do |ff|
		%hr
		%div.row
			%div.span2
				= ff.created_at.strftime("%b %d, %Y")
				%p
				= ff.comments.count
				- if ff.comments.count == 1
					Comment
				- else
					Comments
			%div.span7
				
				%div{:style=>"text-decoration:underline"}
					= link_to ff.title, notebook_note_path(@notebook, ff)

				= first_x_words(ff.content, 20, '...')
				%p
					%b{:style=>"color:gray"}= raw "Tags: #{ ff.tag_list.map {|t| link_to t, notebook_tag_path(@notebook, t) }.join(', ')}" 

			%div.span1
				= pluralize ff.reputation_for(:votes).to_i, "vote"

	
%hr
%p
- if user_signed_in?
	- if current_user.admin? || @notebook.user_id == current_user.id || @notebook.access == 'open'
		= link_to 'New Note', new_notebook_note_path(@notebook)


%p
- if can? :edit, @notebook
	= link_to 'Edit', edit_notebook_path(@notebook)
	\|
= link_to 'Back', notebooks_path
